langchain==0.3.0
langchain-community==0.3.0
langchain-groq==0.2.0
langchain-huggingface==0.1.0
chromadb==0.5.5
streamlit==1.38.0
yfinance==0.2.43
pandas==2.2.3
python-dotenv==1.0.1
unstructured==0.15.12
sentence-transformers==3.1.1